.img1{
    width: 100px;
    height: 100px;
}
.column{
    font-size: 20px;
    text-align: center;
}
.table{
   border:2px maroon;
   
}
.apple{
    color: rgb(194, 3, 3);
    font-size: 21px;
    font-style: italic;
}
.watermelon{
    color: green;
    font-size: 22px;
    font-style: oblique;
}
.tomato{
    color: tomato;
    font-size: 20px;
    font-style:italic;
}
.potato{
    color:rgb(213, 204, 102);
    font-size:20px;
    text-align: center;
}
.capsicum{
 color:green;
 font-size:20px;
 text-align: center;
 
}
.cucumber{
    color:greenyellow;
    font-size:20px;
    text-align: center;
}
.onion{
    color:orchid;
    font-size:20px;
    text-align: center;
}
.index{
    font-size: 18px;
    color:black;
    text-align: center;
}
